@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 3% 56%;
    --card: 0 0% 100%;
    --card-foreground: 220 3% 56%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 3% 56%;
    --primary: 220 3% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 3% 56%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 3% 56%;
    --muted-foreground: 0 0% 100%;
    --accent: 220 3% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 220 3% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 3% 56%;
    --input: 220 3% 56%;
    --ring: 220 3% 56%;
    --radius: 0.5rem;
  }
 
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }
}